body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ff8513;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {  
  max-width: 768px;   /* ancho máximo tipo tablet vertical */  
  margin: 0 auto;     /* centrar horizontalmente */  
  background: #ffb36d;   /* opcional: darle fondo blanco */  
  min-height: 100vh;  /* que ocupe toda la altura */  
  box-shadow: 0 0 10px rgba(0,0,0,0.1); /* opcional: darle "carta" */  
}